BeautifulSoup==3.2.1
Django==1.7.5
Flask==0.10.1
Flask-HTTPAuth==2.3.0
Flask-Login==0.2.9
Flask-PyMongo==0.3.0
Flask-WTF==0.10.2
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
PyYAML==3.10
Pygments==1.6
WTForms==2.0.1
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
commando==0.3.4
facebook-sdk==0.4.0
fswrap==0.1.2
google-api-python-client==1.4.2
gunicorn==19.1.1
httplib2==0.9
hyde==0.8.8
itsdangerous==0.24
jedi==0.8.1-final0
lxml==3.4.0
mercurial==3.1.2
micawber==0.3.2
oauth2client==1.2
peewee==2.5.1
pycurl==7.19.5.3
pyglet==1.2.2
pymongo==2.7.2
pytz==2015.7
rauth==0.7.1
requests==2.4.3
six==1.8.0
smartypants==1.7.1
socketIO-client==0.5.3
stormpath==1.2.4
twilio==4.9.1
typogrify==2.0.0
ujson==1.33
virtualenv==1.11.6
websocket-client==0.21.0
wsgiref==0.1.2
